<% content_for :title, "Editing work order" %>

<h1>Editing work order</h1>

<%= render "form", work_order: @work_order %>

<br>

<div>
  <%= link_to "Show this work order", @work_order %> |
  <%= link_to "Back to work orders", work_orders_path %>
</div>
